<div class="text-center">
    <h2>Minor Head Details</h2>
</div>
<div class="card">
    <div class="text-center my-4"><button pButton (click)="add()"><i class="pi pi-plus mr-1"></i>Add
            SubMajorhead</button></div>
    <p-table [value]="minorheadList">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="id">SubMajorhead Id<p-sortIcon field="id"></p-sortIcon></th>
                <th pSortableColumn="code">SubMajorhead Code<p-sortIcon field="code"></p-sortIcon></th>
                <th pSortableColumn="name">SubMajorhead Name<p-sortIcon field="name"></p-sortIcon></th>
                <th pSortableColumn="subMajorId">Majorhead Name<p-sortIcon field="subMajorId"></p-sortIcon></th>
                <th>Action</th>

            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-minor>
            <tr>
                <td>{{ minor.id }}</td>
                <td>{{ minor.code }}</td>
                <td>{{ minor.name }}</td>
                <td>{{ minor.subMajorId }}</td>
                <td>
                    <!-- <h4><a routerLink="/majorhead-form" routerLinkActive="active"
                            ariaCurrentWhenActive="page">Edit</a><span class="delete"><a
                                (click)="delete(major.id)">Delete
                            </a></span></h4> -->
                    <button pButton label="" class="mr-2" (click)="edit(minor.id)"><i class="pi pi-pen-to-square"
                            style="color: white"></i></button>
                    <button pButton class="bg-red-500" (click)="delete(minor.id)"><i class="pi pi-trash"
                            style="color: white"></i></button>
                </td>

            </tr>
        </ng-template>
    </p-table>

</div>