<div class="text-center">
    @if(isEdit){
    <h2>Edit SubMajor Head Details</h2>
    }@else{
    <h2>Create SubMajor Head</h2>
    }
</div>

<div class="flex justify-content-center ">
    <div class="card text-center p-4 bg-surface-100 shadow-1">

        <form [formGroup]="submajorHeadsForm" (ngSubmit)="save()">
            <input type="text" pInputText formControlName="name" placeholder="Enter Name" class="my-3 m-1" />
            <input type="text" pInputText formControlName="code" placeholder="Enter Code" class="mb-3 m-1" />

            <p-dropdown [options]="majorheads" placeholder="Select a Cheque Type" optionLabel="name" [showClear]="true"
                optionValue="id" formControlName="majorHeadId"></p-dropdown>


            <div class="">
                @if(isEdit){
                <div class=""><button pButton color="primary" type="submit">Update</button>
                    <span class="ml-3"><button pButton color="danger" class="bg-red-500"
                            (click)="cancel()">Cancel</button></span>
                </div>
                }@else{
                <div class=""><button pButton color="primary" type="submit">Create</button>
                    <span><button pButton color="primary" class="bg-red-500 ml-3"
                            (click)="cancel()">Cancel</button></span>
                </div>

                }


            </div>
        </form>
    </div>
</div>