<div class="card menuCard">
    <p-toolbar class="menu">
        <div class="p-toolbar-group-start">
            <h4><a routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a></h4>
            <h4><a routerLink="/majorheads-list" routerLinkActive="active" ariaCurrentWhenActive="page">Major
                    Heads</a></h4>
            <h4><a routerLink="/majorheads-list" routerLinkActive="active" ariaCurrentWhenActive="page">SubMajor
                    Heads</a></h4>
            <h4><a routerLink="/majorheads-list" routerLinkActive="active" ariaCurrentWhenActive="page">Minor
                    Heads</a></h4>
        </div>

    </p-toolbar>
</div>

<router-outlet></router-outlet>