<div w-full>
    <!-- <p-tabMenu [model]="items" [activeItem]="activeItem" (activeItemChange)="onActiveItemChange($event)"></p-tabMenu> -->


    <p-toolbar>
        <div class="p-toolbar-group-start">
            <h3 class="mr-3"><a routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page"><i
                        class="pi pi-home mr-1"></i>Home</a></h3>
            <p-tieredMenu [model]="items">
                <ng-template pTemplate="item" let-item let-hasSubmenu="hasSubmenu">
                    <ng-container *ngIf="item.route; else withoutRoute">
                        <a [routerLink]="item.route" [href]="item.href" class="p-menuitem-link">
                            <span class="item.icon"></span>
                            <span class="ml-2">{{ item.label }}</span>
                        </a>
                    </ng-container>
                    <ng-template #withoutRoute>
                        <ng-container *ngIf="item.url; else withoutUrl">
                            <a [href]="item.url" [target]="item.target" class="p-menuitem-link">
                                <span [class]="item.icon"></span>
                                <span class="ml-2">{{ item.label }}</span>
                                <span *ngIf="hasSubmenu" class="pi pi-angle-right ml-auto"></span>
                            </a>
                        </ng-container>
                        <ng-template #withoutUrl>
                            <a class="p-menuitem-link">
                                <span [class]="item.icon"></span>
                                <span class="ml-2">{{ item.label }}</span>
                                <span *ngIf="hasSubmenu" class="pi pi-angle-right ml-auto"></span>
                            </a>
                        </ng-template>
                    </ng-template>
                </ng-template>
            </p-tieredMenu>
            <!-- 
            <h3 class="mr-3"><a routerLink="/majorheads-list" routerLinkActive="active"
                    ariaCurrentWhenActive="page">Major
                    Heads</a></h3>
            <h3 class="mr-3"><a routerLink="/majorheads-list" routerLinkActive="active"
                    ariaCurrentWhenActive="page">SubMajor
                    Heads</a></h3>
            <h3 class="mr-3"><a routerLink="/majorheads-list" routerLinkActive="active"
                    ariaCurrentWhenActive="page">Minor
                    Heads</a></h3>
                -->
        </div>

    </p-toolbar>
    <div class="flex justify-content-center">
        <router-outlet></router-outlet>
    </div>
</div>