.tbl {
    width: 25%;
    margin: auto;
    background-color: aqua;
}

input {
    margin: 11px 43px;
}

.buttn {
    margin-left: 70px;
}

.cancel {
    margin-left: 20px;
    background-color: red;
}

.header {
    text-align: center;
}